body {
    font-family: Arial, sans-serif;
    background-color: rgb(66, 66, 66);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tic-tac-toe {
    text-align: center;
    background-color: rgb(95, 95, 95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #929292;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#reset-button:hover {
    background-color: #0056a3;
}
